---
import Layout from './_layout.astro';
import ComponentIcon from '../../components/ComponentIcon.astro';

const docsPages = (await Astro.glob('./*.mdx')).map(({ url, frontmatter }) => ({
  url,
  title: frontmatter.title,
  description: frontmatter.description,
  thumbnail: frontmatter.thumbnail,
  group: frontmatter.group,
}));

const componentPages = docsPages.filter((page) => page.group && page.group !== 'main');
---

<Layout content={{ title: 'Components' }}
  ><main class='card-list'>
    {
      componentPages.map((page) => (
        <a href={page.url} id={page.title} class='card'>
          <ComponentIcon icon={page.thumbnail} />
          <div>
            <h1>{page.title}</h1>
            <p>{page.description}</p>
          </div>
        </a>
      ))
    }
  </main>
</Layout>

<style lang='scss'>
  :root {
    --_content-width: min(100%, 1100px);
  }

  .card-list {
    --_iui-grid-item-min-width: 256px;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(100%, var(--_iui-grid-item-min-width)), 1fr)
    );
    gap: var(--space-5);
    margin-top: var(--space-5);
  }

  .card {
    display: flex;
    flex: 1 0 20%;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--color-background-1);
    &:where(:hover, :focus) {
      box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
    }
    text-decoration: none;
    padding: var(--space-3);

    h1 {
      font-size: var(--type-0);
      color: var(--color-text);
      margin-bottom: var(--space-1);
    }

    p {
      font-size: var(--type--1);
      color: var(--color-subtext);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
</style>
